body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1e1e2e, #695acd49);
    /* background-image: url(6.jpg); */
    /* background-size: cover; */
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#Logo{
    height: 2cm;
    width: 2cm;
    border-radius: 50%;
    animation-name: logo ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes logo {
    from{
        transform: rotate(0);    
    }
    to{
        transform: rotate(360deg);
    }
    
}

h1 {
    font-size: 2em;
    margin: 0;
}

p {
    font-style: italic;
}


nav {
    background: #473d8b00;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    background: #695acd5e;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    animation-name: button;
    animation-duration: 2s;

}
@keyframes button {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

nav a:hover {
    background: #9370db;
    border-radius: 40%;
}


hr {
    border-color: #aaa;
}


#hindi{
    font-family: 'Lohit-Marathi', sans-serif;
    text-align: left;
}


a{
    color: aqua;
}